body{
  background-color: #f3f2ef;
}
.navigation{
  background-color:white;
}
.navbar {
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;

}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-right {
  float: right;
}
